.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: hsla(89, 43%, 51%, 0.3);
   color: blue;
   text-align: center;
}
body {
    background-color: #fefbd8;
}

body {
    position: relative;
}
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
