.header {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #d5ff80;
   padding: 8px;
}
.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #d5ff80;
   text-align: center;
   padding: 10px;
}
.main {
  background-color: black;
}
.cv {
  padding: 15px;
}
.jumbotron {
    background-color: white;
}
.contact {
  width: 40%;
  padding: 35px;
  margin: 10px;
}
.project {
  width: auto;
  padding: 35px;
}
.profession {
  padding: 35px;
}
