!!!
%html
%body
  %p
  %meta{:charset => "utf-8"}/
  %title My Portfolio
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", :integrity => "sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", :rel => "stylesheet"}/
  %script{:crossorigin => "anonymous", :integrity => "sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"}
  .navbar
  %nav.navbar.navbar-dark.bg-primary Zuzanna Bienkowska
  .jumbotron
  .text-center
    %h1.display-3 My Portfolio!
    %hr.my-4/
    %p Find out more about my coding portfolio
    %p.lead
    %a.btn.btn-primary.btn-lg{:href => "https://github.com/zuzanna81", :role => "button"} My Projects
  -# %nav.navbar.fixed-botton.navbar-dark.bg-primary .
  %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"}


-# = partial 'partials/header'

= yield

= partial 'partials/footer'
