%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.text-info.btn-lg{"data-toggle" => "tooltip", :href => "about.html", :title => "Read more about me"} Zuzanna Bienkowska
    %ul.nav.navbar-nav
      %li.active
        %a.text-info.btn-lg{:href => "index.html"} Home
