!!!
%html
%head
  :css
    body {
        background-color: #fefbd8;
    }
%body
%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "about.html"} Zuzanna Bienkowska
    %hr.my-4/
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "index.html"} Home
