%img.img{:alt => "Responsive image", :src => "https://source.unsplash.com/iz8MNOJWW1c/1800x420"}/
%br
%br
.container
  .row
    %h4 Profession
    .col-md-8
      %p I have been working within IT since 2007. My career as a manual Tester of software applications started at Hennes and Mauritz, with its IT department located in Stockholm. 2012 I was ready for new challenges and moved on to AFA Försäkring (AFA Insurance) where I'm currently working as a Test Manager. In my opinion testing is not only a profession, it's a passion! While working with all my developer-colleagues during these 10 years I found out that 95% of them have one thing in common - they are all great developers and they don't like testing... So one day I decided to attend CraftAcademy in order to become a webdeveloper... with a true passion for test! And when I'm not working I'm probably on the flight with my family, to somewhere where the Sun is always shining! :-)
-# .container
-#   %a.text-info{:style => "text-align.right", :href => "cv.html"} My Curriculum Vitae
