.jumbotron
  .contact
    %h3 Contact me
    #frm
      %form{:action => "http://formspree.io/zuzanna.bienkowska@gmail.com", :method => "POST"}
        %input.form-control{:name => "email", :placeholder => "Please enter your email", :type => "email"}
        %br
        %textarea.form-control{:name => "message", :placeholder => "Please enter your message here", :rows => "10"}
        %br
        %button.btn-success{:type => "submit"} Send
        %br
        %br
        %h5 ...or
        %a.text-info{"data-toggle" => "tooltip", :href => "https://www.linkedin.com/in/zuzanna-bienkowska-6537196b", :title => "go to my LinkedIn profile"} LinkedIn
