.jumbotron
  .text-center
    %h1.display-3 My Portfolio!
    %br
    %p Find out more about my coding portfolio
    %p.lead
    %a.btn.btn-primary.btn-lg{:href => "projects.html", :role => "button"} My Projects
%img.img_fluid{:alt => "Responsive image", :src => "https://source.unsplash.com/RJqMoRYKEnA/1800x410"}/
