%hr.my-4
%br
.text-center
  %h1.display-3.text-success Testing the Edges...
  %br
  %p Find out more about my projects
  %p.lead
  %a.btn.btn-info.btn-lg{:href => "projects.html", :role => "button"} My Portfolio
  %br
  %br
%img.img_fluid{:alt => "Responsive image", :src => "https://source.unsplash.com/RJqMoRYKEnA/1800x487"}/
