.jumbotron
  .text-center
    %h1.display-3 Testing the Edges...
    %br
    %p Find out more about my projects
    %p.lead
    %a.btn.btn-primary.btn-lg{:href => "projects.html", :role => "button"} My Portfolio
%img.img_fluid{:alt => "Responsive image", :src => "https://source.unsplash.com/RJqMoRYKEnA/1800x410"}/
