.main
  %br
  %br
  %br
  .text-center
    %h1.display-3.text-success Testing the Edges...
    %br
    %p.text-white Find out more about my coding projects
    %p.lead
    %a.btn.btn-info.btn-lg{:href => "projects.html", :role => "button"} My Portfolio
    %br
    %br
    %img.img-fluid{:alt => "Responsive image", :src => "https://source.unsplash.com/RJqMoRYKEnA/1800x600"}/
